# Executables
*.exe
*.out
*.bin
a.out

# Object files
*.o
*.obj

# Testes
*.got.ast

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json